<div class="row">
  <div class="col-lg-12-6 bg-mirage rounded-lg ">
    <div class="p-5 mx-auto w-100">
      <%= form_with(model: course, local: true, url: url) do |form| %>
        <% if course.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

            <ul>
              <% course.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="floating-label my-5">
          <%= form.text_field :title, autofocus: true, class: 'form-control lh-lg bg-mirage text-white my-3 rounded-lg border-oxford-blue', placeholder: 'Ruby' %>
          <%= form.label :title %>
        </div>
        <div class="floating-label my-5">
          <%= form.label :content %>
          <%= form.rich_text_area :content, class: 'lh-lg bg-mirage text-white my-3 rounded-lg border-oxford-blue', placeholder: 'About course' %>
        </div>
        <div class="floating-label my-5">
          <%= form.number_field :length_of_students, class: 'form-control lh-lg bg-mirage text-white my-3 rounded-lg border-oxford-blue', placeholder: '123' %>
          <%= form.label :length_of_students %>
        </div>
        <div class="my-5">
          <%= form.label :start_datetime, class: "form-label d-block" %>
          <%= form.datetime_select :start_datetime, class: 'form-control bg-mirage text-white my-3 rounded-lg border-oxford-blue' %>
        </div>
        <div class="my-5">
          <%= form.label :end_datetime, class: "form-label d-block" %>
          <%= form.datetime_select :end_datetime, class: 'form-select bg-mirage text-white my-3 rounded-lg border-oxford-blue' %>
        </div>
        <%- if current_user.has_role?(:admin) %>
          <div class="my-5">
            <%= form.label :user_id, "Select a Teacher", class: "form-label d-block" %>
            <%= form.select :user_id, options_from_collection_for_select(Role.find_by_name("teacher").users.uniq, "id", "name"), class: 'form-select' %>
          </div>
        <%- end %>

        <div class="actions mb-3">
          <%= form.submit class: 'btn btn-lg btn-cornflower-blue rounded-lg btn-block' %>
        </div>
        <%= link_to 'Back', users_courses_path, class: 'btn btn-lg btn-cornflower-blue rounded-lg btn-block' %>
      <% end %>
    </div>

  </div>
</div>
